<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Mr. Jenkins</fullName>
  <properties>
    <hudson.plugins.favorite.user.FavoriteUserProperty>
      <favorites/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>ZKJAKx:a8b057c6de21648c99c111dd5c9a690860efe0483ced7f09d97b1e86f678698e</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys>{{ jenkins_public_key.stdout }}</authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>info@christian-trabold.de</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>
